$def with(params)
$var username: $params['username']
$var privilege: $params['privilege']

<h1>User $params['username']</h1>
<center>
    <p>Bienvenidos a  Administrador de la ruta en esta pagina podras visualizar, editar<br>
                borrar e ingresar las rutas, paradas, tarifas que corresponda a tu consesionaría<br>
                para materner actualizada la información y poder administrarla mejor. </p>
            </center>
    </div>
    <center>
        <img src="/static/files/servicios1.1.png"  width="205" height="318" >
        <img src="/static/files/admin.jpg"  width="150" height="125" align="left">
        <img src="/static/files/c2-tulancingo.jpeg"  width="150" height="125" align="right">
        </center>
        <br>
        <img src="/static/files/app-Mobile-testing.png"  width="120" height="120" align="left">
        <img src="/static/files/imagen turas.jpg"  width="120" height="120" align="right">
        