$def with(params)
$var username: $params['username']
$var privilege: $params['privilege']
<br>

<br>
<br>
<center>
    <p>Bienvenidos a  Tulanmap está pagina permite consultar información sobre las rutas<br>
        que se encuentran en la ciudad de Tulancingo, ayudando a la población a ubicar<br>
        mejor todos las rutas a su disposición y cual es la más pertinente para utilizar<br>
        según sea el destino al que desean llegar.</p>
</center>

<center>
<img src="/static/files/Logo.jpg" alt="este es el logo de Tulanmap">
</center>