$def with(rutas, message)
<h3>
        <center>
                <a href="/rutas">Rutas</a>
            </center>
</h3>
$if message != None:
    <div class="alert alert-warning">
        <strong>Advertencia </strong> $message
    </div>
<br>

<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id_ruta" id="id_ruta" value="$rutas.id_ruta" />

    <div class="form-group">
    <label for="nombre_ruta">Nombre Ruta</label>
    <input readonly id="nombre_ruta" type="text" class="form-control" name="nombre_ruta" size="30" value="$rutas.nombre_ruta"/>
</div><div class="form-group">
    <label for="hora_inicio">Hora Inicio</label>
    <input readonly id="hora_inicio" type="text" class="form-control" name="hora_inicio" size="30" value="$rutas.hora_inicio"/>
</div><div class="form-group">
    <label for="hora_fin">Hora Fin</label>
    <input readonly id="hora_fin" type="text" class="form-control" name="hora_fin" size="30" value="$rutas.hora_fin"/>
</div><div class="form-group">
    <label for="intervalo">intervalo</label>
    <input readonly id="intervalo" type="text" class="form-control" name="intervalo" size="30" value="$rutas.intervalo"/>
</div><div class="form-group">
    <label for="latitud_inicio">Latitud Inicio</label>
    <input readonly id="latitud_inicio" type="text" class="form-control" name="latitud_inicio" size="30" value="$rutas.latitud_inicio"/>
</div><div class="form-group">
    <label for="longitud_inicio">Longitud Inicio</label>
    <input readonly id="longitud_inicio" type="text" class="form-control" name="longitud_inicio" size="30" value="$rutas.longitud_inicio"/>
</div><div class="form-group">
    <label for="latitud_final">Latitud Final</label>
    <input readonly id="latitud_final" type="text" class="form-control" name="latitud_final" size="30" value="$rutas.latitud_final"/>
</div><div class="form-group">
    <label for="longitud_final">Longitud Final</label>
    <input readonly id="longitud_final" type="text" class="form-control" name="longitud_final" size="30" value="$rutas.longitud_final"/>
</div><div class="form-group">
    <label for="tiempo_recorrido">Tiempo Recorrido</label>
    <input readonly id="tiempo_recorrido" type="text" class="form-control" name="tiempo_recorrido" size="30" value="$rutas.tiempo_recorrido"/>
</div><div class="form-group">
    <label for="distancia_km">Distancia(KM)</label>
    <input readonly id="distancia_km" type="text" class="form-control" name="distancia_km" size="30" value="$rutas.distancia_km"/>
</div><div class="form-group">
    <label for="activo">Activo</label>
    <input readonly id="activo" type="text" class="form-control" name="activo" size="30" value="$rutas.activo"/>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-trash"></span> Eliminar</button>
    </div>
</form>
<br>
<br>
<br>