$def with(rutas)
<h3>
        <center>
                <a href="/rutas">Rutas</a>
            </center>
</h3>
<table id="datos_tabla" class="table table-hover" cellspacing="0" width="100%">
    <thead>
        <th>Rutas</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </thead>
    <tbody>
        $for item in rutas:
        <tr>
            <td><img src="/static/files/ruta.png" width="40" height="30"><a href='/rutas/view/$item.id_ruta'>$item.nombre_ruta</a></td>
            <td><a href='/rutas/edit/$item.id_ruta'><span class="glyphicon glyphicon-pencil"></span></a></td>
            <td><a href='/rutas/delete/$item.id_ruta'><span class="glyphicon glyphicon-trash"></span></a></td>
        </tr>
    </tbody>
</table>
<br>
<br>