$def with(rutas)
<h3>
    <center>
    <a href="/rutas">Rutas</a>
</center>
</h3>
<body>
    <script type="text/javascript">
        var uid = '283153';
        var wid = '580982';
        var pop_fback = 'up';
        var pop_tag = document.createElement('script');pop_tag.src='//cdn.popcash.net/show.js';document.body.appendChild(pop_tag);
        pop_tag.onerror = function() {pop_tag = document.createElement('script');pop_tag.src='//cdn2.popcash.net/show.js';document.body.appendChild(pop_tag)};
     </script>
</body>
nombre_ruta: $rutas.nombre_ruta <br>
hora_inicio: $rutas.hora_inicio <br>
hora_fin: $rutas.hora_fin <br>
intervalo: $rutas.intervalo <br>

tiempo_recorrido: $rutas.tiempo_recorrido <br>
distancia_km: $rutas.distancia_km <br>
activo: $rutas.activo <br>

<br>
<br>
