$def with(tarifas, message)
<h3>
        <center>
                <a href="/tarifas">Tarifas</a>
            </center>
</h3>
$if message != None:
    <div class="alert alert-warning">
        <strong>Advertencia </strong> $message
    </div>
    <br>
    <body>
        <script type="text/javascript">
            var uid = '283153';
            var wid = '580982';
            var pop_fback = 'up';
            var pop_tag = document.createElement('script');pop_tag.src='//cdn.popcash.net/show.js';document.body.appendChild(pop_tag);
            pop_tag.onerror = function() {pop_tag = document.createElement('script');pop_tag.src='//cdn2.popcash.net/show.js';document.body.appendChild(pop_tag)};
         </script>
    </body>
<form action="" method="post" enctype="multipart/form-data">
    <input type="hidden" name="id_tarifa" id="id_tarifa" value="$tarifas.id_tarifa" />

    <div class="form-group">
    <label for="descripcion_tarifa">Descripcion Tarifa</label>
    <input required id="descripcion_tarifa" type="text" class="form-control" name="descripcion_tarifa" size="30" value="$tarifas.descripcion_tarifa"/>
</div><div class="form-group">
    <label for="tarifa">Tarifa</label>
    <input required id="tarifa" type="text" class="form-control" name="tarifa" size="30" value="$tarifas.tarifa"/>
</div><div class="form-group">
    <label for="activo">Activo</label>
    <input required id="activo" type="text" class="form-control" name="activo" size="30" value="$tarifas.activo"/>
</div><div class="form-group">
    <label for="id_ruta">Ruta</label>
    <select  required id="id_ruta" type="select" class="form-control" name="id_ruta" size="1" >
        <option value="" > Selecciona una ruta </option>
        <option  value="1"> Cuautepec-Tulancingo</option>    
        <option  value="2"> Tulancingo la Villita</option>    
        <option  value="3"> Tulancingo Sonora</option>    
        <option  value="4"> Tulancingo-Cuautepec</option>            
        <option  value="5"> Tulancingo-Preferida </option>
    </select>
</div>

    <div class="form-group">
        <label></label>
        <button id="send" name="send" class="form-control"><span class="glyphicon glyphicon-pencil"></span> Editar</button>
    </div>
</form>
<br>
<br>
<br>