$def with(tarifas)
<h3>
    <center>
    <a href="/tarifas">Tarifas</a>
</center>
</h3>
<body>
    <script type="text/javascript">
        var uid = '283153';
        var wid = '580982';
        var pop_fback = 'up';
        var pop_tag = document.createElement('script');pop_tag.src='//cdn.popcash.net/show.js';document.body.appendChild(pop_tag);
        pop_tag.onerror = function() {pop_tag = document.createElement('script');pop_tag.src='//cdn2.popcash.net/show.js';document.body.appendChild(pop_tag)};
     </script>
</body>
descripcion_tarifa: $tarifas.descripcion_tarifa <br>
tarifa: $tarifas.tarifa <br>
activo: $tarifas.activo <br>
id_ruta: $tarifas.id_ruta <br>

<br>
<br>