$def with (page)
<!--
    Author: Salvador Hernández Mendoza
    Email: salvadorhm@gmail.com
    https://github.com/salvadorhm/kuorra
    -->
<html>

<head>
    <title>Tulanmap</title>
    <link rel="icon" type="image/png" href="/static/files/Logo.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-cache, max-age=0, no-store, must-revalidate" />
    <link href="../../static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="../../static/css/dataTables.bootstrap.min.css" rel="stylesheet" media="screen">
</head>

<body>
    <div style="background-color: #25bd2c;" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> Tulanmap</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class='active'><a href="/paradas"><img src="/static/files/parada.png" width="40" height="30"></span>Paradas</a></li>
                    <li><a href="/rutas"><img src="/static/files/ruta.png" width="40" height="30"></span>Rutas</a></li>
                    <li><a href="/tarifas"><img src="/static/files/dolar.png" width="40" height="30"></span>Tarifas</a></li>
                    <li><a href="/users"><img src="/static/files/usuario.png" width="40" height="30"></span>Usuarios</a></li>
                    <li><a href="/logs"><img src="/static/files/log.png" width="40" height="30">Sesiones</a></li>
                    <li><a href="/paradas/insert"><span><img src="/static/files/anadir.png" width="40" height="30" ></span> Insertar</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class='container'>
        <br><br> $:page
        
               
            
    </div>

    <center>
        <img src="/static/files/paradas-tulanmap.jpg" width="500" height="250">
    </center>
    <div style="background-color: #25bd2c;" class="navbar  navbar-inverse navbar-fixed-bottom">
    
        <div class="container">
            <div class="navbar-text pull=left">
                <p> © Tulanmap</p>
            </div>
        </div>
    </div>

</body>
    <script src="../../static/js/jquery-1.12.4.js"></script>
    <script src="../../static/js/dataTables.bootstrap.min.js"></script>
    <script src="../../static/js/jquery.dataTables.min.js"></script>
    <script src="../../static/js/bootstrap.js"></script>
    <script src="../../static/js/control.js"></script>
</html>